body, html{
font-family: 'Open Sans Condensed', sans-serif;
width: 100%;
height: 100%;
padding: 0;
margin: 0;
}

body{
  overflow-x:hidden;
}

.thinH1{ /*H1 for josefin sans - original h1 is too small*/
  font-weight: 100;
  font-size: 90px;
  text-align: center;
  color: black;
}

hr{
  margin-top: 2em;
  border-top: 5px solid #999;
  width: 40%;
}

/*navbar*/
.navbar-md{
  font-size: 2em;
  font-family: 'Lato', sans-serif;
}

.navbar-md a{
   color: #eee;
   text-shadow: 1px 1px 1px #555;  
   transition: all .6s;
}

.navbar-md a:hover{
   color: #22A4B8;
   text-decoration: none;
}

.navbar-md ul{
  list-style: none;
  padding-left: 0;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: .5em;
  width: 80%;
}

.navbar-md ul li{
  border-radius: 5px;
  padding: 0.2em;
}

/*CONTENT*/

/*hero section*/

.arrow-scroll{
  position: absolute;
  bottom: 0%;
  right: 10%;
  display: block;
  background-color: #eee;
  height: 70px;
  width: 70px;
  z-index: 10;
}

.arrow-scroll .oi{
  position: absolute;
  top: 20%;
  right: 22%;
  font-size: 40px;
  color: #22A4B8;
  z-index: 10;
}

.hero-overlay{
  background-color: rgba(34,34,34, 0.8);
  position: absolute;
  width: 100%;
  height: 100%;
}

.hero-type h1{
  color: #eee;
  font-size: 12em;
  padding-top: 15px;
  padding-bottom: 15px;
  /*text-shadow: 3px 2px 2px #666;*/
}

.hero-type h3{
  font-size: 4em;
  color: #eee;
  background-color: rgba(34,34,34, 0.3);
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  padding: 0.5em;
  padding-left: 0.1em;
  padding-right: 0.1em;
}

.hero{
  background: url("../img/hero-2.jpeg");
  background-size: cover;
  height: 100%;
  width: 100%;
  padding: 0;
  padding-bottom: 0;
  margin-bottom: 0;
}

/*servicos*/

.servicos{
  background-color:#222;
}

.servicos h1{
  color: #22A4B8;
}

.servicos h3{
  color: #22A4B8;
  font-weight: 500;
  font-size: 2.5em;
  padding-bottom: .5em;
  border-bottom: 1px solid #333;
}

.servicos p{
  color: #999;
  font-size: 2em;
}

.servicos .col-md-4:nth-child(3), .servicos .col-md-4:nth-child(2){
  padding-bottom: 70px;
}

.servicos .col-md-4:nth-child(4){
  padding-bottom:30px;
}

.servicos .col-md-4:nth-child(6){
  padding-bottom: 70px;
}


.port-img-desc{
  position: absolute;
  bottom:20px;
  left:25px;
  width:545px;
  background-color: rgb(255, 255, 102);
  opacity: 0.95;
  border-radius: 2px;
}

.servicos .row{
  padding: 40px;
}

/*portfolio*/

.alert{
  font-size: 2em;
  margin-top: 1em;
}

.alert button{
  font-size: 1.5em;
}

.pager{
  margin: 0;
  font-size: 2em;
  padding-top: 1em;
  padding-left: 2em;
}

.portfolio-thumbs hr{
  margin-bottom: 2em;
}

.portfolio-thumbs{
  background-color: #eee;
  padding-bottom: 2em;
}

.portfolio-thumbs img{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
  box-shadow: 2px 2px 3px #999;
}

.portfolioColumn{
  padding-bottom: 1em;
}

.portfolio-thumbs .thinH1{
  color: #333;
}


/*potfolio view*/
.portfolio-view{
  background-color: #fff;
  padding-bottom: 1em;
}

.images-left{
  padding: 1em;
  padding-left: 6em;

}

.images-left img{
  padding: 1em;
  margin: 1em;
  box-shadow: 1px 1px 3px #999;
}

.portfolio-description{
  padding-left: 5em;
}

.portfolio-description h1{
  color: #444;
  font-size: 4em;
}

.portfolio-description p{
  color: #555;
  font-size: 2em;
}

/*sobre*/

.sobre{
  background-color: #313131;
  background-size: cover;
  z-index: -5;
  padding-bottom: 40px;
}

.sobre .thinH1{
  color: #888;
}

.sobre img{
  margin-top: 3em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid #555;
}

.textoSobre h2{
  color: #22A4B8;
  font-size: 3em;
}

.textoSobre p{
  color: #999;
  font-size: 2em;
}

/*contato*/

.contato .thinH1{
  color: #333;
}

.contato{
  background: #555;
  width: 100%;
  padding-bottom: 1em;
}

.contato .container{
  border-bottom: 50px; 
}

.form-group{
  padding-top: 20px;
  max-width: 40%;
  margin: auto;
  font-size: 1.5em;
  color: #999;
  text-align: center;
}

form .btn{
  display: block;
  margin: auto;
  font-size: 2em;
  margin-top: 20px;
  background-color: #22A4B8;
  color: #eee;
  padding: 10px 20px;
  border: 3px solid #777;
}

form .btn:hover{
  background-color: #22A4B8;
  border: 3px solid #eee;
  color: #eee;
}

.contato .line{
  border-bottom:1px solid #eee;
  border-radius: 2px;
}

/*FOOTER*/

.footer{
  background-color: #222;
  text-align: center;
  vertical-align: center; 
  padding-top: 1em;
}

.page-footer p, .page-footer a{
  padding: 5px;
  display: block;
  color: #999;
  font-size: 1em;
  font-weight: 700;
}

.page-footer a{
  color: #22A4B8;
}

.me{
  color: #22A4B8;
}

/*ELEMENTS*/

.myBtn {
  position: absolute;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 28px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  #eee-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 2px solid transparent;
  border-radius: 3px;
  z-index: 5;
}


.btnhero{
  bottom:30%;
  left: 15%;
  margin: -164px 0 0 -56px; 
  border: 2px solid #eee; 
  border-radius: 0;
  color: #eee;
}

.btnhero:hover,
.btnhero:focus{
  background-color: #eee;
  text-decoration: none;
  color: black;
  border: 2px solid #eee;
  box-shadow: 1px 1.5px 2px black;
}

.btnhero:visited {
  background-color: #eee;
  text-decoration: none;
  color: #eee;
}

.line{
  max-width: 80%;
  border-bottom:1px solid #eee;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
}

.oi-envelope-closed{
  font-size: 200px;
  padding: 20%;
  }

.oi-servicos{
  display: block;
  text-align: center;
  color: black ;
  font-size: 60px;
} 


/*MEDIA QUERIES*/

@media (max-width: 768px) {


  .images-left{
    padding: 1em;
    padding-left: 1em;
  }

  .alert{
    font-size: 1.5em;
    margin-top: .5em;
  }

  .alert button{
    font-size: 1em;
  }


  .portfolio-description{
    padding-left: 1em;
    padding-right: 2em;
  }

  .portfolio-description h1{
  color: #444;
  font-size: 3em;
  }

  .portfolio-description p{
  color: #555;
  font-size: 1.5em;
  }

  .pager{
    font-size: 1.5em;
  }

  .servicos h3{
    font-size: 2em;
  }

  .servicos p, .sobre p{
    font-size: 1.5em;
  }

  .hero-type h1{
    font-size: 5em;
    padding-top: .6em;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: .1em;
    text-shadow: 3px 3px 2px #888;
  }

  .hero-type h3{
    font-size: 2em;
    color: #eee;
    background-color: rgba(68,68,68, 0.6);
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5em;
    padding-left: 0.1em;
    padding-right: 0.1em;
  }

  .navbar-md{
  font-size: 1em;
  padding-top: 12%;
  font-family: 'Lato', sans-serif;
  }

  .navbar-md a{
     color: #eee;
  }

  .navbar-md a:hover{
   color: #22A4B8;
   font-size: 1em;
   text-decoration: none;
  }

  .navbar-md ul{
    list-style: none;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1em;
  }

}

/*ANIMATION*/

.animated { 
    -webkit-animation-duration: 5s; 
    animation-duration: 5s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both;  
} 

@-webkit-keyframes bounceInDown { 
   0% { 
       opacity: 0; 
        -webkit-transform: translateY(-2000px); 
    } 
    60% { 
        opacity: 1; 
        -webkit-transform: translateY(30px); 
    } 
    80% { 
        -webkit-transform: translateY(-10px); 
    } 
    100% { 
        -webkit-transform: translateY(0); 
    } 
} 

@keyframes bounceInDown { 
    0% { 
        opacity: 0; 
        transform: translateY(-2000px); 
    } 
    60% { 
        opacity: 1; 
        transform: translateY(30px); 
    } 
    80% { 
        transform: translateY(-10px); 
    } 
    100% { 
        transform: translateY(0); 
    } 
} 

.bounceInDown { 
    -webkit-animation-name: bounceInDown; 
    animation-name: bounceInDown; 
}